<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">Products</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Image</th>
            <th>Date added</th>
            <th>Location</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <% cache(cache_key_for_products(product)) do %>
            <tr>
              <td>
                <%= link_to product.name, bids_products_path(:product_id => product.product_id) %>
              </td>
              <td>
                <%= Category.find(product.category_id).name %>
              </td>
              <td>
                <%= link_to image_tag product.image.url(:thumb), :class => "product" %>
              </td>
              <td>
                <%= product.date_added %>
              </td>
              <td>
                <%= @locations[product.location_id] %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div id="paginate">
           <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>