<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading"><%= action %></div>
        <div class="panel-body">
 
            <%= form_for :search, url: { action: "search_products" } do |f| %>
                
                <div class="field">
                    <%= f.label :name %>
                        <%= f.text_field :name %>
                </div>
                
                <div class="field">
                    <%= f.label :category_id %>
                        <%= f.select :category_id, [""] + categories.map { |c| [c.name, c.category_id] } %>
                </div>

                <div class="field">
                    <%= f.label :location %>
                        <%= f.select :location, @locations %>
                </div>
                
                <div class="field">
                    <%= f.label :highest_bid %>
                        <%= f.text_field :highest_bid %>
                </div>

                <div class="actions">
                    <%= f.submit action, class: "btn btn-success" %>
                </div>
            <% end %>
        </div>
</div>