<nav id="main-nav" role="navigation">
    <ul id="main-menu" class="sm sm-blue">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="#">Seller's Zone</a>
            <ul>
                <li><%= link_to 'Add Product', new_product_path %></li>
                <li><%= link_to 'My Products', products_path %></li>
                <li><a href="#">Products Sold</a></li>
            </ul>
        </li>
        <li><a href="#">Buyer's Zone</a>
            <ul>
                <li><%= link_to 'Search Products', search_buyers_path %></li>
                <li><%= link_to 'Ongoing Auctions', ongoing_auctions_buyers_path %></li>
                <li><a href="#">Products Bought</a></li>
            </ul>
        </li>
        <li><a href="#">Admin's Zone</a>
            <ul>
                <li><%= link_to 'Add Categories', new_category_path %></li>
                <li><%= link_to 'Show Categories', categories_path %></li>
            </ul>
        </li>
        <li><a href="#">Who are we?</a>
    </ul>
</nav>

<div class="vspace"></div>