<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">Products</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Category</th>
            <th>Name</th>
            <th>Date added</th>
            <th>Location</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td>
                <%= product.user_id %>
              </td>
              <td>
                <%= Category.find(product.category_id).name %>
              </td>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= product.date_added %>
              </td>
              <td>
                <%= product.location %>
              </td>
              <td>
                <%= link_to 'Show', product %>
              </td>
              <td>
                <%= link_to 'Edit', edit_product_path(product) %>
              </td>
              <td>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>