<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">Products</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Image</th>
            <th>Date added</th>
            <th>Location</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= Category.find(product.category_id).name %>
              </td>
              <td>
                <%= link_to image_tag product.image.url(:thumb), :class => "product" %>
              </td>
              <td>
                <%= product.date_added %>
              </td>
              <td>
                <%= @locations[product.location_id] %>
              </td>
              <td>
                <%= link_to 'Show', product %>
              </td>
              <td>
                <%= link_to 'Edit', edit_product_path(product) %>
              </td>
              <td>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
              <td>
                <% if product.sell_status.nil? %>
                <%= link_to 'Start Bid', bid_sellers_path(:product_id => product.product_id) %>
                <% elsif product.sell_status == 'f' %>
                <%= link_to 'Stop Bid', stop_bid_sellers_path(:product_bid_id => product.product_bid_id) %>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <div id="paginate">
           <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>