<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @product.bid_id %>
</p>

<p>
  <strong>Added by user:</strong>
  <%= @product.added_by_user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @product.date_added %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
