<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">View Product</div>
        <div class="panel-body">
          
          <div class="field">
              <p id="notice"><%= notice %>
          </div>
          
          <div class="field">
              <p>
                <strong>User:</strong>
                <%= @product.user_id %>
              </p>
          </div>
          
          <div class="field">
              <p>
                <strong>Category:</strong>
                <%= @product.category_id %>
              </p>
          </div>
          <div class="field">
              <p>
                <strong>Name:</strong>
                <%= @product.name %>
              </p>
          </div>
          <div class="field">
              <p>
                <strong>Date added:</strong>
                <%= @product.date_added %>
              </p>
          </div>
          <div class="field">
              <p>
                <strong>Location:</strong>
                <%= @locations[@product.location_id] %>
              </p>
          </div>
          <div class="field">
            <%= link_to image_tag @product.image.url(:original) %>
          </div>
          
          
          <%= form_for( @product, :url => my_products_products_path( @product ), :html => { :method => :get } ) do |f| %>
              <div class="actions">
                  <p> <%= f.submit 'Back', class: "btn btn-success" %> </p>
              </div>
          <% end %>
                
        </div>
    </div>
</div>